body {
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.fixed-container {
  display: flex;
  flex-direction: column;
  background: #e5f3f2;
  width: 100%;
  height: 50%;
}

header {
  padding: 25px 0 15px 0;
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.idea-header {
  color:#00A79d;
}

.box-header {
  color: #6d6e71;
}

input {
  width: 280px;
  border: 1px solid lightgrey;
  margin: auto;
  font-size: 20px;
  text-indent: 5px;
}

.title {
  margin: 15px auto;
  height: 40px;
  overflow-wrap: break-word;
}

.body {
  height: 90px;
  vertical-align: top;
  overflow: visible;
  overflow-wrap: break-word;
}

button:focus {
 outline: none;
}

.save-btn {
  width: 280px;
  margin: 15px auto;
  padding: 10px;
  padding-bottom: 12px;
  font-size: 20px;
  letter-spacing: .5px;
  background-color: #00a79d;
  color: #fff;
  border: none;
  box-sizing: border-box;
}

.save-btn:hover {
  background: #045e55;
}

.idea-card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.new-card {
  width: 280;
  height: 70%;
  border-bottom: 1px solid #d1d3d4;
  margin: auto;
  padding-top: 20px;
}

.search {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-bottom: 25px;
  margin-top: 15px;
}

h1 {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #6d6e71;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}

.quality {
  display: inline-block;
  margin: 5px 0px 20px 10px;
  color: #6d6e71;
  font-family: 'Roboto Slab', serif;
}

.body-text {
  margin-top: 5px;
  padding: 20px 5px 20px 5px;
  font-family: 'Open Sans', sans-serif;
  color: #939598;
  overflow: visible;
}

.level {
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
}

.delete {
  background: url(assets/delete.svg) no-repeat;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border: none;
  float: right;
}

.delete:hover {
  background: url(assets/delete-hover.svg) no-repeat;
}

.up-vote {
  background: url(assets/upvote.svg) no-repeat;
}

.up-vote:hover {
  background: url(assets/upvote-hover.svg) no-repeat;
}

.down-vote {
  background: url(assets/downvote.svg) no-repeat;
  margin-left: 10px;
}

.down-vote:hover {
  background: url(assets/downvote-hover.svg) no-repeat;
}

.image {
  width: 30px;
  height: 30px;
  border: none;
}


@media (min-width: 480px) {
    .title,
    .save-btn,
    .search,
    .new-card {
      width: 300px;
    }

    .body {
      width: 300px;
      height: 48px;
    }
}


@media (min-width: 650px) {
    .title,
    .save-btn,
    .search,
    .new-card {
      width: 500px;
    }

    .body {
      width: 500px;
      height: 48px;
    }
}


@media (min-width: 770px) {
    .title,
    .save-btn,
    .search,
    .new-card {
      width: 700px;
    }

    .body {
      width: 700px;
      height: 48px;
    }
}
